<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add Employee</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" type="text" class="form-control" [(ngModel)]="employee.firstName" placeholder="Required">
              </div>
              <div class="col-lg-6">
                <label for="lastName">Last Name</label>
                <input id="lastName" name="lastName" type="text" class="form-control" [(ngModel)]="employee.lastName" placeholder="Required">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modal.close(employee)">Save</button>
        </div>
      </ng-template>

      <button id="addEmployeeBtn" class="btn btn-lg btn-outline-primary pull-right" (click)="open(content)">Add Employee</button>